<aside>
			<strong class="link"><a href="/pages/about">ABOUT US</a></strong>
			<ul>
				<li><a href="/pages/career">Careers</a></li>
				<li><a href="/pages/terms-of-use">Terms Of Use</a></li>
				<li><a href="/pages/privacy-policy">Privacy Policy</a></li>
				<li><a href="/pages/disclaimer">Disclaimer</a></li>
			</ul>
</aside>