<aside>
			<strong class="link"><a href="/pages/help">HELP &amp; SUPPORT</a></strong>
			<ul>
				<li><a href="/pages/return-policy">Return & Exchange</a></li>
				<li><a href="/pages/shipping-policy">Shipping Policy</a></li>
				<li><a href="/pages/faq">FAQ's</a></li>
				<li><a href="/pages/measurements-guide">Fit &amp; Measurement Guide</a></li>
				<li><a href="/pages/submit-your-measurements">Submit Your Measurements</a></li>
			</ul>
</aside>