<div class="headline">
  <h1>CHANGE PASSWORD</h1>
  <ul class="breadcrumbs">
    <li><a href="#">HOME </a></li>
    <li><a href="#">my account</a></li>
    <li>Change Password</li>
  </ul>
</div><!-- / headline -->


<div class="width:100%;">

<div class="dashboard_nav" style="width:200px; display:inline-block; vertical-align: top;">{% customer_navigation_tag %}</div>

<div style="width:700px; display:inline-block; vertical-align: top;">{% change_customer_password_tag %}</div>

</div>