<div class="headline">
  <h1>UPDATE PERSONAL DETAILS</h1>
  <ul class="breadcrumbs">
    <li><a href="/">HOME </a></li>
    <li><a href="/customer/order-history">my account</a></li>
    <li>UPDATE PERSONAL DETAILS</li>
  </ul>
</div><!-- / headline -->


<div style="width:100%; padding-bottom:50px;">
<div class="dashboard_nav" style="width:200px; display:inline-block; vertical-align: top;">{% customer_navigation_tag %}</div>

<div style="width:700px; display:inline-block; vertical-align: top;" class="edit_personal_details">
  {% edit_personal_details_tag %}
</div>


</div>







